transformers
Flask 
flask_bcrypt 
flask_session 
requests 
google-auth-oauthlib 
youtube-transcript-api
tensorflow
torch 
torchvision 
torchaudio
tf-keras
spacy
nltk
pandas
numpy
multiprocessing
bs4
re