/* styles.css */
body {
    font-family: sans-serif;
    background-color: #f0f0f0;
}
h1 {
    color: blue;
}

h2 {
    font-style: normal;
}
.facts {
    color: orange;
}
.results {
    color: green;
}

h4 {
    color: royalblue
}
.register {
    color: darkmagenta
}
.check {
    color: royalblue
}